<header>
    <h1>Recurso Protegido</h1>
</header>

<main>
    <section>
        <h3 style="color:green">¡Felicitaciones! Lograste acceder a este recurso</h3>

        <div style="margin-top: 1rem;">
            <a href="/"><input type="button" value="Volver al Menú"></a>
        </div>
    </section>
</main>