<header>
    <h1>Inicio</h1>
</header>

<main>
    <section>
        <h3>Menú</h3>
        <ul>
            <li><a href="/login">Iniciar Sesión</a></li>
            <li><a href="/current">Ver Recurso Protegido</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
    </section>
</main>