* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
}

h1 {
    color: darkblue;
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

.container-home__recipe div {
    padding: 1rem 0;
}

.button-icon {
    padding: 0;
}

.button-icon img {
    width: 2rem;
}

.partial-navigator ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

.partial-navigator ul li a {
    font-size: 1rem;
    color: darkblue;
    text-decoration: none;
}

.partial-navigator ul li a:hover {
    border-top: 2px solid darkblue;
    border-bottom: 2px solid darkblue;
}

.container-recipe__table,
.container-home__table,
.container-ingredients__table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 600px;
}

.container-recipe__table table,
.container-home__table table,
.container-ingredients__table table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
}

.container-recipe__table table tbody tr,
.container-home__table table tbody tr,
.container-ingredients__table table tbody tr {
    border: 1px solid black;
}

.container-recipe__table thead tr th:nth-of-type(1),
.container-recipe__table tbody tr td:nth-of-type(1),
.container-home__table thead tr th:nth-of-type(1),
.container-home__table tbody tr td:nth-of-type(1),
.container-ingredients__table thead tr th:nth-of-type(1),
.container-ingredients__table tbody tr td:nth-of-type(1) {
    width: 165px;
    padding: 2px;
    border-right: 1px solid black;
}

.container-recipe__table thead tr th:nth-of-type(2),
.container-recipe__table tbody tr td:nth-of-type(2),
.container-home__table thead tr th:nth-of-type(2),
.container-home__table tbody tr td:nth-of-type(2),
.container-ingredients__table thead tr th:nth-of-type(2),
.container-ingredients__table tbody tr td:nth-of-type(2) {
    width: 250px;
    padding: 2px;
    border-right: 1px solid black;
}

.container-recipe__table thead tr th:nth-of-type(3),
.container-recipe__table tbody tr td:nth-of-type(3),
.container-home__table thead tr th:nth-of-type(3),
.container-home__table tbody tr td:nth-of-type(3),
.container-ingredients__table thead tr th:nth-of-type(3),
.container-ingredients__table tbody tr td:nth-of-type(3) {
    width: 80px;
    padding: 2px;
    border-right: 1px solid black;
}

.container-home__table thead tr th:nth-of-type(4),
.container-home__table tbody tr td:nth-of-type(4),
.container-ingredients__table thead tr th:nth-of-type(4),
.container-ingredients__table tbody tr td:nth-of-type(4) {
    padding: 2px;
    display: flex;
    justify-content: center;
    gap: 2px;
}

.container-home__table .container-home__table__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}

.container-home__table .container-home__table__pagination div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: fit-content;
}

.container-home__table .container-home__table__pagination span {
    color: gray;
}

.container-ingredient__form form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 600px;
    padding: 1rem;
    border: 3px double black;
}

.container-ingredient__form form div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container-ingredient__delete div {
    display: flex;
    gap: 0.5rem;
    width: 600px;
}

.container-ingredient__delete div input {
    width: 100%;
}

.container-ingredient__details ul {
    width: 400px;
}

.container-ingredient__details ul li {
    margin: 0.25rem 0;
}

.container-ingredient__details ul li img {
    border-radius: 0.5rem;
    width: 100%;
    margin: 0.25rem 0;
}

.container-error__http {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    color: red
}

.container-error__http img {
    width: 400px;
}