<header>
    <h1>INICIO</h1>
</header>

<main>
    <section>
        <h3>Ingredientes</h3>
        <div style="display: flex; flex-direction: column; gap: 0.5rem; width: 300px;">
            <div style="height: 200px; border: 1px solid black;">
                <ul id="ingredients-list" style="list-style-position: inside; padding: 0; margin: 0.25rem;"></ul>
            </div>
        </div>
    </section>

    <section>
        <h3>Formulario de Ingredientes</h3>
        <form id="ingredients-form" style="display: flex; flex-direction: column; gap: 0.5rem; width: 300px">
            <input type="text" name="name" placeholder="Nombre del ingrediente">
            <input type="text" name="description" placeholder="Descripción del ingrediente">

            <input type="submit" value="Guardar" style="width: 100%">
        </form>
    </section>

    <section>
        <h3>Eliminación de Ingredientes</h3>
        <div style="display: flex; gap: 0.5rem; width: 300px">
            <input type="number" id="input-ingredient-id" placeholder="ID del Ingrediente" style="width: 100%">
            <button id="btn-delete-ingredient">Eliminar</button>
        </div>
    </section>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/api/public/js/ingredients_with_websocket.js"></script>