<header>
    <h1>ERROR 403</h1>
</header>

<main class="container-error">
    <section class="container-error__http">
        <h3>Recurso Protegido. No tienes los privilegios suficientes</h3>
        <img src="/public/images/error_403.png" alt="Imagen de error 403">
    </section>
</main>