<header>
    <h1>ERROR 401</h1>
</header>

<main class="container-error">
    <section class="container-error__http">
        <h3>Recurso Protegido. No has iniciado sesión</h3>
        <img src="/public/images/error_401.png" alt="Imagen de error 401">
    </section>
</main>