<header>
    <h1>INICIO</h1>
</header>

<main class="container-home">
    <section>
        <ul>
            <li><a href="/ingredients">Ir a Ingredientes</a></li>
            <li><a href="/auth/login">Iniciar Sesión</a></li>
            <li><a href="/auth/logout">Cerrar Sesión</a></li>
        </ul>
    </section>
</main>