<header>
    <h1>LOGIN</h1>
</header>

<main>
    <section>
        <ul>
            <li><a href="/auth/logout">Cerrar Sesión</a></li>
        </ul>
    </section>

    <section>
        <form action="/auth/login" method="POST" style="display:flex; flex-direction: column; gap: 0.25rem;">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>

            <div style="margin-top: 1rem;">
                <input type="submit" value="Aceptar">
            </div>
        </form>

        {{#if errorMessage}}
        <p style="color: red;">{{errorMessage}}</p>
        {{/if}}
    </section>
</main>