<header>
    <h1>Perfil</h1>
</header>

<main>
    <section>
        <h3>Datos personales</h3>
        <ul>
            <li>ID GitHub: {{gitHubId}}</li>
            <li>Nombre y apellido: {{fullName}}</li>
        </ul>

        <div style="margin-top: 1rem;">
            <a href="/"><button>Volver al Menú</button></a>
            <a href="/logout"><button>Cerrar Sesión</button></a>
        </div>
    </section>
</main>