<h1>{{name}}, ¡Te has registrado correctamente!</h1>

<ul>
    <li>Hace clic <a href="http://localhost:8080/api/users">aquí</a> para ver la lista de usuarios</li>
    <li>Hace clic <a href="http://localhost:8080/api/users/register">aquí</a> para registrar otro usuario</li>
</ul>